.sim-render-area {

}

.sim-container {
  display: flex;
  flex-direction: column;
  height: 100%;
	overflow: hidden;
}

.sim-render-area {
  overflow: auto;
  flex: 1;
}

.sim-stats-footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sim-stats-footer > *:not(:last-child) {
  margin-right: 10px;
}

.sim-container label > input {
  margin: 0 5px;
}

.sim-tooltip {
	background: #333;
	color: white;
	font-weight: bold;
	padding: 4px 8px;
	font-size: 13px;
	border-radius: 4px;
	pointer-events: none;
}